/* *,
*::before,
*::after {
    box-sizing: border-box;  
} */
.container-fluid {
    margin: 0;
    padding: 0;
} 
body {
    margin: 0;
    padding: 0;
}
.pad {
    padding: 1em 3em;
}
.sign{
    border: none;
    border-radius: 16px;
    background: linear-gradient(to right,rgb(255, 102, 0), rgb(255, 196, 0));
    color: white;
    
    
}

.sign:focus{
    outline:none;
}

.modalHeading{
    color: #1E496C;
    font-family: Helvetica;
    font-weight: bold;
}

.modalImage{
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.modalContent{
    margin-top: 20px;
}

.close{
    display: flex;
    float: right;
    color: #C4C4C4;
    margin-left: 91%;
    
}

.close:focus{
    outline:none;
}


.nav-link{
    color:#000000;
    font-family: Helvetica;
    
}

#navs{
    color: black;
}

#active{
    color: #1E496C;
    font-weight: bold;

    
}

.nav-link:hover{
    color: black;
    text-decoration: underline;
}

.navbar-toggler{
    margin-left: auto;
}
.logo{
    
    display: flex;
    align-self: center;
}

.about{
    margin-top: 30%;
    margin-bottom: 5%;
    color: #1E496C;
    font-weight: bold;
    font-size: 65px;
}

.values{
    margin-top: 12%;
    margin-bottom:5% ;
    color: #1E496C;
    font-weight: bold;
    font-size: 35px;
}

.mission{
    margin-top: 12%;
    margin-bottom: 5%;
    color: #1E496C;
    font-size: 35px;
    font-weight: bold;
}

.mission2{
    margin-bottom: 20%;
    
}

.row{
    font-family: Helvetica;
}

.footer{
    background-color: #1E496C;
    margin-top: 10%;
    padding: 5% 0% 5% 5%;
    color: white;
    font-family: Helvetica;
}

.footerText{
    color: #FFFFFF;
    font-family: Helvetica;
    font-style: normal;
    font-size: 17px;
}

.footerText2{
    margin-top: 25px;
    font-size: 18px;
}