*,
*::before,
*::after {
    box-sizing: border-box;  
}

body, .wrapper {
    margin: 0;
    padding: 0;
}

.header, .header > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.header ul {
    list-style: none;
}
.main {
    display: flex;
}
.side-bar-cont {
    flex: 1;
    /* background: #fff; */
}
.mainbar {
    flex: 5;
}
#navIcon{
    float: right;
    flex-direction: row;
    
}

.firstName{
    padding-left: 5px;
    color: #242424;
    font-family: Helvetica;
    font-weight: bold;
    font-style: normal;
}

.image{
    margin-bottom: 50px;
}

#nav, .nav-link {
    color: #FF8200;
}
.active {
    font-weight: bolder;
}
.nav-link:hover {
    text-decoration: underline;
    color: black;
    font-weight: bolder;
}
.toggler {
    /* width: 5em;
    height: 5em; */
    margin-left: 1em;
    display: none;
}
.iconify{
    margin-right: 10px;
}
#navs{
    color: #FF8200;
    padding-top: 20px;
    font-family: Helvetica;
    font-weight: bold;
    
    
}


.head{
    margin-top: 1%;
    font-family: Helvetica;
    font-weight: bold;
    color: #1E496C;
    margin-left: 50px;
}
.top-box{
    display: flex;
}
.quiz-container {
    flex: 1;
    margin-left: 50px;
}
.homework-container {
    flex: 1;
}
.quiz {
    margin: 1em 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    padding-top: 2%;
    width: 400px;
}
.quizText{
    float: right;
    margin-top: 10px;
    
}

.quizText2{
    margin-top: 20%;
    padding-top: 7%;
    color: #8D8D8D;
    font-family: Helvetica;
}

.date{
    font-family: Helvetica;
    padding-top: 2px;
    color: #8D8D8D;
    font-size: 12px;
}

h5{
    color: #474747;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}

.textBook{
    color: #FF8200;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    /* margin-left: 50px; */
}

/* .textbookImage{
    margin-left: 50px;
} */

.homework{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #B2DB35;
    width: 400px;
    height: 450px;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 25px;
}
.homework > h4 {
    text-align: center;
    border-radius: 25px;
}

.homeworkText{
    color: #146831;
    font-family: Helvetica;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

.homeworkDue{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px 25px 0 0;
}

.dueText{
    color: #242424;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
   
    
}

.due{
    display: flex;
}

.dueText2{
    float: right;
    font-family: Helvetica;
    
    color: #242424;
}

.dueText3{
    color: #242424;
    font-family:Helvetica;
    font-weight: bold;
    font-style: normal;
}
.materials-container {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}
.materials{
    background: linear-gradient(180deg, #B2DB35 0%, #146831 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
    width: 400px;
    height: 150px;
}
.material-first {
    margin-left: 50px;

}
.material-second {
    margin-right: 6em;
}
.materialText{
    margin-left: 40px;
    padding-top: 12px;
    color: #FFFFFF;
    font-family: Helvetica;
}
.textbookImage {
    display: flex;
}
.textbookImage > img {
    width: 120px;
    height: 130px;
}
@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
        width: 400px;
        position: absolute;
        top: 8em;
        z-index: 1; 
        background: #fff;
    }
    .logo > img {
        width: 80px;
        height: 80px;
    }
    .toggler {
        display: block;

    }
    .main {
        display: block;
    }
    .mainbar {
        margin-left: 0;
    }
    .quiz {
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {
    .head {
        text-align: center;
    }
    .logo > img {
        width: 50px;
        height: 50px;
    }
    .sidebar {
        display: none;
        width: 250px;
        position: absolute;
        bottom: 2em;
        z-index: 1; 
        background: #fff;
    }
    .textbookImage{
    margin: 0 auto;
}
.materials-container {
    flex-direction: column;
    margin-top: 17em;
}
.materials {
    margin: 1em auto;
    width: 90%;
}
.toggler {
    width: 30px;
    height: 30px;
}
.homework{
    margin: 0 auto;
    width: 90%;
    height: 200px;
}
.quiz {
    width: 90%;
    margin: 0 auto;
}
.textbookImage {
    flex-wrap: wrap;
}
.textbookImage > img {
    margin: .5em;
}

.top-box{
    flex-direction: column;
}
} 