.mainbar-header {
  display: flex;
  align-items: baseline;
}
.mainbar-header > h1 {
  margin-left: 1em;
  color: #1E496C;
}

.lesson-container {
  width: 90%;
  margin: 0 auto;
}

.lesson-container .class-head {
  color: white;
  background:linear-gradient(180deg, #B2DB35 0%, #146831 100%);
  border: 1px solid #C4C4C4;
  border-radius: 25px;
  padding: 1em;
}
.obj {
  margin-top: 3em;
}
.video  {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
}
.video > h4  {
  margin-bottom: 2em;
  color: #FF7534;
}

.comment-container {
  padding: 1em;
  width: 90%;
  margin: 4em auto;
}
.comment-container  > h4 {
  margin-bottom: 2em;
}
.form-group {
  display: flex;
  justify-content: space-between;
  margin-right: 4em;
}

.input-group {
  display: flex;
  flex: 6;
  border: 1px solid #C4C4C4;
  /* padding: 1em; */
 align-items: center;
}
.input-group > input {
  border: 0;
  outline: none;
  padding: 1em;
  flex: 6;
}
.input-group > input:focus {
  border: 0;
  outline: none;
}
.input-group > .send {
  flex: 1;
  width: 3em;
  height: 3em;
}

.form-image {
  flex: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1em;
}

.comments .comment {
  width: 70%;
  display: flex;
  margin: 1em auto;
  border: 1px solid #FF7534;
  align-items: center;
}
.comment  img {
  flex: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-body {
  flex: 5;
}
.date-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
video {
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 500px) {
  .comments .comment {
  width: 95%;
}
.comment  img {
  width: 30px;
  height: 30px;
}
.form-image {
  width: 50px;
  height: 50px;

}
.comment-container {
  padding: .75em;
  width: 99%;
  margin: 2em auto;
}
.input-group > .send {
  width: 1em;
  height: 1em;
}
.form-group {
  margin-right: .5em;
}
.mainbar-header > h1 {
  font-size: 1.4em;
}
.mainbar-header  img {
  margin-left: 1em;
}

.lesson-container {
  width: 98%;
}
  .comment-body > p {
  font-size: .75em;
}
  .comment-body > h6 {
  font-size: .9em;
}
}