.wrapper{
    margin: 7em auto;
    width: 35%;
    border: 1px solid #C4C4C4;
    padding: 4em 2em;
 }
 
 .form-container > h1 {
    color: #1E496C;
    padding-left: 1em; 
 }
 .form-group{
    margin: 0 auto;
    width: 95%;
    padding-left: 2em;
 } 
 
 .close{
    display: flex;
    float: right;
    color: #C4C4C4;
    margin-left: 70%;
    padding-bottom: 5%;
 }
 #login{
     padding-top: 1em;
     padding-bottom: 1em;
    margin-top: 40px;
    width: 95%;
     background: linear-gradient(to right, #FF7534, #F4AE34);
     color: white;
     text-transform: uppercase;
     font-weight: bold;
 }
 #form {
     margin-top: 2em;
 }
 #form #email {
     padding: 1.2em 1em;
     border: 1px solid #C4C4C4;
 }
 #form .input-group {
     padding: 1em;
     border: 1px solid #C4C4C4;
     width: 90%;
     display: flex;
     justify-content: space-between;
 }
 #form .input-group #password {
     border: 0;
     outline: 0;
     width: 80%;
 }
 #form .input-group input:focus {
     border: 0;
     outline: none;
 }
 #signup{
     margin-top: 40px;
     text-align: center;
 }
 .login-cont {
     padding: 1em 2em;
 }
 #password{
     padding: 10px;
     border-radius: 10px;
     border: 1px solid black;
 }
 .form-group > p {
     margin-top: 3em;
     text-align: center;
     font-weight: bold;
     color: #8D8D8D;
 }
 .form-group > p > a {
     color: #FF7534;
     text-decoration: none;
 }
 #form label {
     color: #1E496C;
 }
 #form-group #radio {
    color: red;
 }
 .radio-cont {
     padding-top: 1em;
 }
 .radio-cont a {
     color: #9E9E9E;
     font-weight: bold;
 }
 .alert-container {
    position: fixed;
    left: 0;
}
 @media screen and (max-width: 650px) {
     .wrapper{
         margin: 4em auto;
         width: 95%;
         padding: 2em 1em;
      }
      .form-container > h1 {
         font-size: 1.8em;
         padding-left: 1.8em; 
      }
 }
 @media screen and (min-width: 651px)  and (max-width: 950px) {
     .wrapper{
         width: 75%;
      }
 }
 @media screen and (min-width: 951px)  and (max-width: 1500px) {
     .wrapper{
         width: 40%;
      }
 }
 