.back{
    height: 40px;
    widows: 40px; ;
    color: #1E496C;
    margin-left: 40px;
    /* margin: 80px 20px; */
}
.main-content {
    width: 50%;

}
.main-content-top {
    margin-left: 100px;
}

.main-content-top > h2{
    /* margin-bottom: 50px; */
    color: #1E496C;
    margin-bottom: 2em;
    font-weight: bolder;
}


.form-group > label {
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
    color: rgba(30, 73, 108, 0.3);
  }
.input-group {
    width: 98%;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
    padding: 1em .3em;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);;
}
  .form-group > .input-group > input {
    flex: 5;
    border: 0;
    outline: 0;
    font-weight: bolder;
    /* border: 2px solid red; */
  }
    .form-group > .input-group > input:focus {
      background: #fff;
      border: 0;
      outline: 0;
    }
  .form-group > .input-group > img {
    flex: 1;
  }
  .form-group > .input-group > span {
    flex: 1;
    font-size: 18px;
    color: grey;
    cursor: pointer;
  }


/* button{
    width: 242px;
    height: 70px;
    
} */
.button-group{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    
}
.cancel-btn {
  padding: 1em 5em;
  background:rgba(134, 220, 255, 0.03);
  font-family: roboto;
  font-size: 18px;
  font-style: normal;
  outline: 0;
  color: #8D8D8D;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  
}
.submit-btn{
    color: white;
    border: 0;
    outline: 0;
    padding: 1em 4em;
    background: #27A251;
    /* margin-left: 100px; */
}

#show-old, #show-new, #show-new-2{
  color:rgba(30, 73, 108, 0.3);
}


@media screen and (max-width: 900px) {
  .main-content {
    width: 90%;
}

}
@media screen and (max-width: 500px) {
  .main-content {
    width: 98%;
    margin: 0 auto;
}
.main-content-top {
    margin: 2em;
}
.input-group {
    width: 100%;
    padding: .8em .3em;
    /* box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1); */
}
  .form-group > .input-group > img {
    width: 15px;
    height: 15px;
  }
  .form-group > .input-group > span {
    font-size: .9em;
    color: grey;
    cursor: pointer;
  }
.cancel-btn {
  padding: .6em 2em;
  background: #F5F5F5;
  border: 0;
  outline: 0;
  color: #8D8D8D;
}
.submit-btn{
    color: white;
    border: 0;
    outline: 0;
    padding: .6em 1.8em;
    background: #27A251;
    /* margin-left: 100px; */
}

.main-content-top > h2{
    font-weight: normal;
}
}