.container-fluid{
    display: flex;
    font-family: helvetica;
}
.sideBar{
    width: 243px;
    height: 1024px;
}

.icon{
    margin: 45px 72px 67px;
    
}

#menu{
    margin-top: 100px;
    width: 202px;
    height: 247px;
}
.wrapper > .container-fluid .sidebar ul li a {
    margin-top: 20px;
    padding: 20px;
    color: #FF8200;
    }

.wrapper > .container-fluid .sidebar ul li a .fas , .far{
     width: 30px;
     margin-top: 25px;
     }

.Back{
    height: 20px;
    widows: 22px; ;
    color: #1E496C;
    margin: 80px 20px;
}

.personalDetails{
    margin-left: 100px;
}

.personalDetails > h1{
    margin-bottom: 50px;
    color: #1E496C;
}


.form-group > label {
    font-size: 1em;
    color: grey;
  }
  
  .form-group > .input-group {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: .3em;
  }
  .form-group > .input-group > input {
    border: 0;
    outline: 0;
    font-weight: bolder;
    width: 516px;
    height: 46px;
    border-radius: 30px;
  }
  .form-group > .input-group > span {
    font-size: 18px;
    color: grey;
  }

  .form-group > .input-group > span > i{
      height: 24px;
      width: 24px;
  }

button{
    width: 242px;
    height: 70px;
    
}
.button{
    margin-top: 50px;
}
#Save{
    margin-left: 100px; 
}


@media screen and (max-width: 900px) {
    .mainContent{
      flex-direction: column-reverse;
    }
    
    .icon{
      margin: 2em;
      width: 200px;
      height: 200px;
  }
  .personalDetails{
      width: 50%;
  }
  
  #Cancel , #save {
width: 25%;
height: 25%;
  }
  }