.pdf-container, .video-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
}
.pdf-container > div, .video-container > div {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.pdf-container > div img {
    width: 100%;
}
.pdf-container > div a, .video-container > div video {
    text-align: center;
}
.nav-resources {
    display: flex;
    justify-content: space-between;
    margin: 0 3em;
    border-bottom: 1px solid #c1c1c1;
}
.nav-resources > div {
    display: flex;
    justify-content: space-between;
}
.nav-resources > div > a {
    margin: 0 2em;
    padding-bottom: 2px;
    font-family: Helvetica;
    color: #146831;
    font-weight: bold;
}
.resources-active {
    border-bottom: 2px solid #FF8200;
}
#form > input {
    padding: 5px;
    border: none;
    
    /* border-radius: 15px; */
}

#form{
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    color: #C4C4C4;
     padding: .5em;
}

input:focus{
    outline: none;
}

a:hover{
    text-decoration: none;
}

.video{
    width: 300px;
    height: 250px;
}
.video-div {
    text-align: center;
}

@media screen and (max-width: 500px) { 

    .video-container, .pdf-container {
        margin-left: 4em;
        text-align: center;
    }
    .nav-resources {
    margin: 0 1em;
    /* border-bottom: 1px solid #c1c1c1; */
}
#form{
  display: none;
}
}