*,
*::before,
*::after {
    box-sizing: border-box;  
}
.logo > img {
        width: 80px;
        height: 80px;
    }
.mainbar, .main-content-top {
    display: flex;
    /* align-items: flex-end; */
}
.mainbar  {
  padding: 1em;
}
form {
  background: white;
}

.main-content-top {
  padding-bottom: 3em;
}
.main-content-a {
  flex: 3;
  margin-right: 2em;
}
.main-content-b {
  flex: 2;
  /* background-color: #FF8200; */
}
.personalDetails{
    margin-left: 5em;
    color: #1E496C;
}

.profilePicture {
  text-align: center;
}

.wrapper  .lower >  ul > li > a > .fas {
    padding: 10px;
    color: #FF8200;
}
.lower >  ul > li {
  margin: 1em;
  list-style: none;
}
.lower >  ul > li > a {
  color: black;
}
.lower{
  margin-top: 1em;
  border-top: 1px solid #ccc;
}

.form-group > label {
  font-size: .875em;
  color: grey;
}

.form-group > .input-group {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: .6em;
}
.form-group > .input-group > input {
  border: 0;
  outline: 0;
  font-weight: bolder;
}
.form-group > .input-group > span {
  font-size: 0.65em;
  color: grey;
}
.result {
    margin:  0 auto;
    border-radius: 25px;
    border: 1px solid transparent;
    background: #B2DB35;
    padding: 0;
  }
  .result h5 {
  border: 1px solid transparent;
  text-align: center;
  background: #B2DB35;
  padding: 1em;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 0;
  height: 30px  v;
}
/* th{
    background-color: #B2DB35;
    text-align: center;
    width: 100%;
}  */
.table {
  background: #fff;
    padding-top: 2em;
    border-collapse:separate;
    border:solid transparent 1px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
}


.first {
  color: grey;
  font-weight: normal;
}
  tr {
    font-weight: bold;
    font-size: 0.87em;
  }
td {
    padding: 1em;
    border-bottom: 2px solid white; 
  }

.active {
  font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  .mainbar {
    flex-direction: column-reverse;
  }
  .result {
    width: 80%;
    margin:  50px auto;
  }
  .main-content-top  {
    flex-direction: column;
  }
  .main-content-top > .profilePicture {
    width: 80%;
    text-align: center;
    margin: 1em auto;
  }
.personalDetails{
    width: 80%;
    margin: 0 auto;
    color: #1E496C;
}

}

@media only screen and (max-width: 500px) {
    form {
    width: 90%;
    margin: 1em auto;
  }
  
}